
langchain==0.1.15
openai==1.12.0
httpx==0.26.0
python-dotenv==1.0.1

uvicorn[standard]==0.27.0.post1
fastapi==0.109.2


pyyaml==6.0.1

websockets==12.0

vital-agent-template>=0.1.0

kgraphservice>=0.0.6
kgraphmemory>=0.0.5
vital-ai-haley-kg>=0.1.4
kgraphagent>=0.0.1




